body {
    text-align: center;
}

#drop-box {
    border-style: dotted;
    margin: 5% 10%;
    padding: 5%;
}

#drop-box.dragover {
    border: 2px solid #16a5bf;
    background: rgba(22, 165, 191, 0.6);
}

.text-message {
    margin: 3%;
}

.table-center {
    margin-left: auto;
    margin-right: auto;
}

.table-margin {
    margin-top: 1%;
    margin-bottom: 3%;
}

.title-margin {
    margin-top: 5%;
}

.text-blur {
    color: transparent;
    text-shadow: 0px 0px 10px blanchedalmond;
}

.music-submit {
    font-weight: bold;
    background-color: orange;
}

.button-magin {
    margin-top: 5%;
    margin-right: auto;
    margin-bottom: 5%;
    margin-left: auto;
}

.button-none {
    display: none;
}

.music-table {
    counter-reset: rowCount;
}

.body-row {
    counter-increment: rowCount;
}

.row-num::before {
    content: counter(rowCount);
}
